<!DOCTYPE html>
<html>
<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
<script src="js/app.js"></script>
<script src="js/app-service.js"></script>
<script src="js/app-controller.js"></script>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body ng-app="mainMod">
	Hello from HTML
	<div ng-controller="helloController">
	<div ng-repeat="employee in employeeList">{{employee.name}}</div>
	
		{{name}} <br /> <input type="button" value="Call Function"
			ng-click="callMe()"> <br>
		
	</div>
	<br>
</body>
</html>